@font-face {
  font-family: 'icon-esd';
  src: url('../fonts/icon-esd.ttf?lufwg2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ZenDots-Regular';
  src: url('../fonts/ZenDots-Regular.ttf');
}
[class^='icon-esd-'],
[class*=' icon-esd-'] {
  font-family: 'icon-esd' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-esd-lock-partner:before {
  content: '\e923';
}
.icon-esd-api-partner:before {
  content: '\e924';
}
.icon-esd-dragger-large:before {
  content: '\e922';
}
.icon-esd-menu-contract:before {
  content: '\e921';
}
.icon-esd-calendar:before {
  content: '\e920';
}
.icon-esd-partner:before {
  content: '\e91a';
}
.icon-esd-picker:before {
  content: '\e91b';
}
.icon-esd-user:before {
  content: '\e91c';
}
.icon-esd-edit:before {
  content: '\e91d';
}
.icon-esd-trash:before {
  content: '\e91e';
}
.icon-esd-dragger:before {
  content: '\e91f';
}
.icon-esd-scope:before {
  content: '\e917';
}
.icon-esd-theme:before {
  content: '\e918';
}
.icon-esd-role:before {
  content: '\e919';
}
.icon-esd-application:before {
  content: '\e916';
}
.icon-esd-documentation:before {
  content: '\e915';
}
.icon-esd-key:before {
  content: '\e913';
}
.icon-esd-arrow-left:before {
  content: '\e914';
}
.icon-esd-configuration:before {
  content: '\e90f';
}
.icon-esd-contract:before {
  content: '\e910';
}
.icon-esd-seo:before {
  content: '\e911';
}
.icon-esd-stats:before {
  content: '\e912';
}
.icon-esd-bell:before {
  content: '\e90d';
}
.icon-esd-bell-complete:before {
  content: '\e90e';
}
.icon-esd-contact:before {
  content: '\e900';
}
.icon-esd-dashboard:before {
  content: '\e901';
}
.icon-esd-edit-profile:before {
  content: '\e902';
}
.icon-esd-help:before {
  content: '\e903';
}
.icon-esd-news:before {
  content: '\e904';
}
.icon-esd-profile:before {
  content: '\e905';
}
.icon-esd-search:before {
  content: '\e906';
}
.icon-esd-trophy:before {
  content: '\e907';
}
.icon-esd-unlock:before {
  content: '\e908';
}
.icon-esd-who-are-we:before {
  content: '\e909';
}
.icon-esd-catalog:before {
  content: '\e90a';
}
.icon-esd-challenge:before {
  content: '\e90b';
}
.icon-esd-connection:before {
  content: '\e90c';
}
